img {
	margin: 0 auto;
	text-align: center;
	width: 75%;
}

.has-items {
	text-align: center;
}

hr {
	color: #42B874;
}


.navbar-brand {
	background-color: white;
}


.navbar-static-top {
	background-color: white;
}

.navbar .active {
	background-color: #42B874;
}

.row {
	padding-top: 2%;
	padding-bottom: 3%;
}

h1 {
	font-size: 2em;
	font-weight: 200;
	color: #504f51;
	padding-top: 20px;
}

label , input {
	display: none;
}

.sorting {
	text-align: center;
	font-weight: 200;
}

td {
	font-weight: 200;
}

#progress {
}

.modebar.modebar--hover {
	display: none;
}

#DataTables_Table_0_paginate {
	display: none;
}

#DataTables_Table_0_info{
	display: none;
}

#DataTables_Table_0_wrapper .col-sm-12{
	padding-top: 0;
}

td+ td {
	text-align: center;
}

h2 {
	font-weight: 200;
	color: #504f51;
}

h5 {
	padding-bottom: 10px;
	color: white;
	font-weight: 200;
	font-size: 1.3em
}

.has-items {
	margin-left: auto;
	margin-right: auto;
}

h3 {
	color: white;
	font-weight: 200;
}

h4 {
	color: black;
	font-weight: 200;
}

.eventTitles {
	color: white;
	font-weight: 200;
}

#plot img {
	width: 100%;
}

.well {
	background-color: #42B874;
}