.has-items {
  margin: 0 auto;
  width: 400px;
  text-align:center;
}

.control-label{ 
  display: table-cell; text-align: center; vertical-align: middle; 
} 

#table {
  background-color: white;
  padding: 0;
}

div.item {
  font-size: 0.9em;
}
.progress-message {
  font-size: 2em;
}

.shiny-nofication {
  background-color: black;
}

.modebar {
  display: none;
}

.form-group { display: table-row;}

table.table th {
  font-weight: 200;
  text-align: center !important;
  font-size: 0.85em;
}

h6 {
  font-size: 1.2em;
  border-left: 2px solid gray;
  padding-left: 5px;
}

td {
  text-align: center;
  font-weight: 200;
  font-size: 0.8em;
}

h4 {
  font-weight: 200;
}

div .item {
  font-weight: 200;
}

span.navbar-brand {
  font-weight: 200;
}

ul.nav.navbar-nav li {
  display: none;
}

.selectize-dropdown-content {
  font-weight: 200;
  font-size: 0.9em;
}

#table {
  padding-top:25px;
}

.selectize-input {
  margin-top:20px;
}

button.btn {
  font-weight: 200;
}

div.container {
  width: 100%;
  height: 20px;
}

span.navbar-brand {
  color: black;
  opacity: 0.8;
}

span.progress-message {
  text-align:center;
  font-size: 1.5em;
  font-weight: 200;
}